body {
  background-color: #f5f5f5; }

.action a {
  display: inline-block;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: #6ab3cb 1px solid;
  color: #6ab3cb;
  line-height: 40px;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  background: #f5f5f5; }
  .action a:hover {
    box-shadow: 5px 5px 40px #ddd;
    transition: all 0.5s; }
  .action a:first-child {
    margin-right: 20px;
    color: #fff;
    background: #6ab3cb;
    border: #6ab3cb 1px solid; }

.data {
  max-width: 500px;
  margin: 20px 0 40px 0;
  padding: 20px 20px;
  background: #fff; }
  .data .section h5 {
    margin: 20px 0 10px 0;
    color: #ccc;
    font-weight: normal; }
    .data .section h5 button {
      border: none;
      background: none;
      color: #6ab3cb;
      float: right; }
  .data .section ul {
    margin: 20px 0;
    padding: 0; }
  .data .section li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px; }
    .data .section li img {
      width: 40px; }
    .data .section li p {
      width: 34px;
      height: 34px;
      background: #f5f5f5;
      color: #ccc;
      line-height: 34px;
      text-align: center;
      border-radius: 17px; }
    .data .section li h6 {
      margin: 5px 0;
      width: 100%;
      text-align: center;
      color: #ccc; }

.setPlan {
  display: none;
  z-index: 10;
  position: fixed;
  width: 470px;
  height: 300px;
  box-sizing: border-box;
  padding: 20px;
  top: 200px;
  left: 50%;
  margin-left: -225px;
  background: #fff;
  box-shadow: 5px 5px 40px #ddd; }
  .setPlan span {
    display: inline-block;
    margin-right: 20px; }
    .setPlan span:nth-child(2) {
      margin-right: 0; }
  .setPlan h5 {
    width: 200px;
    margin: 10px 0;
    color: #ccc; }
    .setPlan h5 em {
      padding: 0 5px;
      font-style: none;
      font-weight: bold;
      color: #6ab3cb; }
  .setPlan button {
    float: right;
    border: none;
    width: 157px;
    height: 40px;
    border-radius: 20px;
    margin: 40px 0 0 20px;
    text-align: center;
    background: #6ab3cb;
    color: #fff; }
    .setPlan button:last-child {
      background: #f5f5f5;
      color: #ccc; }
  .setPlan .pages {
    position: relative;
    width: 200px;
    margin: 20px 0;
    color: #ccc; }
    .setPlan .pages input {
      height: 40px;
      padding: 0 60px 0 60px;
      width: 200px;
      box-sizing: border-box;
      border: 1px solid #eee;
      text-align: center; }
    .setPlan .pages button {
      border: 1px solid #eee;
      background: #fff;
      padding: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 40px;
      margin: 0;
      border-radius: 0; }
      .setPlan .pages button:first-child {
        left: 0; }
      .setPlan .pages button:last-child {
        right: 0; }
      .setPlan .pages button:hover {
        background-color: #6ab3cb;
        color: #fff; }
