body {
  background-color: #f5f5f5; }

.main {
  background-image: url("../images/inputBackground.png");
  height: 850px; }

.messageBox {
  display: block;
  position: static;
  margin: 50px auto 20px auto;
  box-shadow: none; }
  .messageBox .message p {
    margin: 0;
    padding: 0; }

.searchBar {
  max-width: 900px;
  height: 40px;
  margin: 0px auto;
  position: relative; }
  .searchBar ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    z-index: 2;
    margin: 0;
    margin-top: 40px;
    padding: 10px 00px;
    background: #fff;
    opacity: 0.5; }
  .searchBar li {
    margin: 5px 0;
    padding: 5px 30px;
    list-style-type: none; }
    .searchBar li:hover {
      background: #6ab3cb;
      color: #fff;
      transition: all 0.5s; }
  .searchBar #selected {
    background: #6ab3cb;
    color: #fff; }
  .searchBar input {
    height: 40px;
    padding: 0 60px 0 20px;
    width: 100%;
    box-sizing: border-box;
    border: none; }
    .searchBar input:hover, .searchBar input:hover + button {
      box-shadow: 5px 5px 40px #ddd;
      transition: all 0.5s; }
  .searchBar .search {
    border: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: #6ab3cb;
    width: 40px; }
    .searchBar .search img {
      width: 20px; }
    .searchBar .search:hover ~ input {
      box-shadow: 5px 5px 40px #ddd;
      transition: all 0.5s; }
