body {
  background-color: #f5f5f5; }

button {
  background: none;
  border: none; }

.mainWM {
  position: relative;
  max-width: 1280px;
  margin: 0 auto; }

.backDrop {
  position: relative;
  max-width: 1280px;
  min-height: 650px;
  background-color: #fff; }

.left {
  max-width: 900px;
  display: inline-block; }

.right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 380px;
  height: 100%;
  border-left: 1px solid #eee; }

.inputBox .cancle {
  display: none; }

select {
  background: #fff;
  padding: 5px;
  border: none;
  color: #ccc;
  font-size: 0.8em; }

.toolBar {
  margin: 20px 0;
  position: relative; }
  .toolBar .searchBar {
    display: inline-block;
    position: relative;
    width: 440px; }
    .toolBar .searchBar input {
      height: 40px;
      padding: 0 60px 0 20px;
      width: 440px;
      box-sizing: border-box;
      border: none; }
      .toolBar .searchBar input:focus, .toolBar .searchBar input:hover, .toolBar .searchBar input:focus + button, .toolBar .searchBar input:hover + button {
        box-shadow: 5px 5px 40px #ddd;
        transition: all 0.5s; }
    .toolBar .searchBar .search {
      padding: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background: #6ab3cb;
      width: 40px; }
      .toolBar .searchBar .search:hover ~ input {
        box-shadow: 5px 5px 40px #ddd;
        transition: all 0.5s; }
  .toolBar img {
    width: 20px; }
  .toolBar .action {
    position: absolute;
    right: 0;
    display: inline-block; }
    .toolBar .action button {
      margin: 0 0px 0px 10px;
      height: 40px;
      padding: 0 20px;
      text-align: center;
      border: 1px solid #eee;
      background: #fff;
      color: #ccc; }
      .toolBar .action button:hover {
        box-shadow: 5px 5px 40px #ddd;
        transition: all 0.5s; }
    .toolBar .action .highline {
      background-color: #6ab3cb;
      border: #6ab3cb;
      color: #fff; }

table {
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  color: #ccc; }
  table .rank {
    padding: 0;
    background: none; }
    table .rank img {
      height: 10px; }
  table .tableCheckBox {
    display: none; }
    table .tableCheckBox:checked ~ div {
      background-color: #f5f5f5;
      border: #fff; }
    table .tableCheckBox:checked + label {
      background: url("../images/icon/checked.png");
      background-size: 14px;
      background-repeat: no-repeat;
      border: none; }
  table label {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px #cccc solid; }
  table div {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 5px; }
  table tr {
    position: relative;
    display: block;
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px;
    border-radius: 5px; }
    table tr:first-child {
      border-bottom: 1px solid #eee; }
      table tr:first-child:hover {
        background-color: #fff;
        transition: all 0.5s; }
    table tr:hover {
      margin-right: -20px;
      background: #f5f5f5;
      transition: all 0.5s; }
  table th {
    font-weight: normal;
    font-size: 0.8em;
    color: #ccc; }
  table button {
    background: #fff;
    padding: 5px;
    border-radius: 2px; }
  table img {
    height: 1em; }
  table .exampleSentence, table .property {
    display: none; }
  table td {
    display: inline-block; }

.icon {
  width: 16px; }

.waitForLogging th:first-child, .waitForLogging td:first-child, .loggedData th:first-child, .loggedData td:first-child, .plan th:first-child, .plan td:first-child {
  padding: 0 0 0 40px;
  width: 30px; }
.waitForLogging th:last-child, .waitForLogging td:last-child, .loggedData th:last-child, .loggedData td:last-child, .plan th:last-child, .plan td:last-child {
  padding: 0 40px 0 0; }
.waitForLogging th:nth-child(2), .waitForLogging td:nth-child(2), .loggedData th:nth-child(2), .loggedData td:nth-child(2), .plan th:nth-child(2), .plan td:nth-child(2) {
  color: #6ab3cb;
  font-weight: bold;
  overflow: hidden;
  box-sizing: border-box;
  width: 180px; }
.waitForLogging th:nth-child(3), .waitForLogging td:nth-child(3), .loggedData th:nth-child(3), .loggedData td:nth-child(3), .plan th:nth-child(3), .plan td:nth-child(3) {
  overflow: hidden;
  width: 180px; }

.plan td:nth-child(4), .plan td:nth-child(5), .plan td:nth-child(6), .plan td:nth-child(7), .plan th:nth-child(4), .plan th:nth-child(5), .plan th:nth-child(6), .plan th:nth-child(7), .loggedData td:nth-child(4), .loggedData td:nth-child(5), .loggedData td:nth-child(6), .loggedData td:nth-child(7), .loggedData th:nth-child(4), .loggedData th:nth-child(5), .loggedData th:nth-child(6), .loggedData th:nth-child(7) {
  width: 50px; }
.plan td:nth-child(8), .plan td:nth-child(9), .plan th:nth-child(8), .plan th:nth-child(9), .loggedData td:nth-child(8), .loggedData td:nth-child(9), .loggedData th:nth-child(8), .loggedData th:nth-child(9) {
  color: #ccc;
  text-align: right;
  width: 100px; }
.plan td:nth-child(9), .plan th:nth-child(9), .loggedData td:nth-child(9), .loggedData th:nth-child(9) {
  width: 80px; }

.loggedData td:last-child, .plan td:last-child {
  text-align: center; }
.loggedData td:nth-child(10), .plan td:nth-child(10) {
  padding: 0 0px 0 50px;
  width: 20px;
  height: 20px; }

.waitForLogging td:nth-child(3), .waitForLogging td:nth-child(3), .waitForLogging th:nth-child(3), .waitForLogging th:nth-child(3) {
  width: 300px; }
.waitForLogging td:nth-child(4), .waitForLogging th:nth-child(4) {
  width: 100px; }
.waitForLogging td:nth-child(5), .waitForLogging th:nth-child(5) {
  width: 100px;
  text-align: right; }

.pages {
  position: relative;
  width: 200px;
  margin: 20px auto 0 auto;
  color: #ccc; }
  .pages input {
    height: 40px;
    padding: 0 60px 0 60px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    text-align: center; }
    .pages input:focus, .pages input:hover {
      box-shadow: 5px 5px 40px #ddd;
      color: #333; }
  .pages button {
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px; }
    .pages button:first-child {
      left: 0; }
    .pages button:last-child {
      right: 0; }
    .pages button:hover {
      background-color: #6ab3cb;
      color: #fff; }
