@import '_theme.scss';





.action{
	a{

			display: inline-block;
			height: 40px;
			width: 150px;
			border-radius: 20px;
			border: $mainColor 1px solid;
			color:$mainColor;
			line-height: 40px;
			vertical-align: top;
			text-decoration: none;
			text-align: center;
			background: $backgroundColor;
			&:hover{
				box-shadow: $shadow;
				transition: all 0.5s;
			}
			&:first-child{
				margin-right: 20px;
				color:#fff;
				background: $mainColor;
					
			border: $mainColor 1px solid;
			
			}
			
		}

}
.data{
	max-width: 500px;
	margin:20px 0 40px 0;
	padding:20px 20px;
	background: #fff;
		.section{
			h5{
				margin:20px 0 10px 0; 
				color:#ccc;
				font-weight:normal;
				button{
					border:none;
					background: none;
					color:$mainColor;
					float: right;
				}

			}
			ul{
				margin:20px 0;
				padding: 0;
			}
			li{
				list-style-type: none;
				display: inline-block;
				padding:0 15px;
				img{
				width: 40px;
				}
				p{
					width: 34px;
					height: 34px;

					background: $backgroundColor;
					color:#ccc;
					line-height: 34px;
					text-align: center;
					border-radius: 17px;
				}
				h6{
					margin:5px 0;
					width: 100%;
					text-align: center;
					color:#ccc;
				}
			}
			
			
		}
	
}
.setPlan{
	display: none;
	z-index: 10;
	position: fixed;
	width: 470px;
	height: 300px;
	box-sizing: border-box;
	padding: 20px;

	top:200px;
	left:50%;
	margin-left: -225px;
	background: #fff;
	box-shadow:$shadow;
	span{
		display: inline-block;
		margin-right: 20px;
		&:nth-child(2){
			margin-right: 0;
		}
	}
	h5{
		width: 200px;
		margin:10px 0;
		color:#ccc;
		em{
			padding:0 5px;
			font-style:none;
			font-weight: bold;
			color:$mainColor;
		}
	}
	button{
		float: right;
		border:none;

		width: 157px;
		height: 40px;
		border-radius: 20px;
		margin: 40px 0 0 20px;
		text-align: center; 
		background: $mainColor ;
		color:#fff;
		&:last-child{
			

			background:$backgroundColor;
			color:#ccc;
		}
	}
	.pages{
		position: relative;
		width:200px;
		margin:20px 0;		
		color:#ccc;
		input{
			height: 40px;
			padding:0 60px 0 60px;
			width: 200px;
			box-sizing: border-box;
			border:$borderThin;
			text-align: center;

		}
		button{

			border:$borderThin;
			background: #fff;
			padding:0;
			position: absolute;
			top:0;
			bottom:0;
			width: 40px;
			margin:0;
			border-radius: 0;
			&:first-child{
				left: 0
			}
			&:last-child{
				right: 0;
			}
			&:hover{
				background-color: $mainColor;
				color:#fff;
			}
		}
	}
}