@import "_theme.scss";

.form{
	width: 380px;
	padding:20px;
	margin:40px 0 0 0;

	background: #fff;
	box-shadow:$shadow;
}

h5{
	margin:20px 0 10px 0px;
	color:#ccc;
}
input{
		box-sizing: border-box;
		width: 100%;
		padding: 10px 20px;
		height: 40px;
		border: 1px solid $backgroundColor;
		font-size: 1em;

		background: $backgroundColor;
		color:#333;
		border-radius: 5px;
		&:focus{
			background-color: #fff;
			border:1px solid #ccc;
			color:#333;

			box-shadow: inset -1px -1px 10px $backgroundColor;
			transition: all 0.5s;
		}
}
button{
	width: 157px;
	height: 40px;
	border-radius: 20px;

	border: none;
	margin:40px 0 0 0 ;
	background: $mainColor;
	color:#fff;
}

