@import "_theme.scss";

button{
	background: none;
	border: none;
}



.main{
	position:relative;
	max-width: 1280px;
	
	margin:0 auto;
	
}
.backDrop{
	position:relative;
	max-width: 1280px;
	min-height: 650px;
	background-color: #fff;
}
.left{

	max-width: 900px;
	display: inline-block;
}
.right{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 380px;
	height: 100%;
	border-left: $borderThin;
}


.inputBox{
	.cancle{
		display: none;
	}
}



.tabBar{
	img{

		float: left;
		padding:20px;
		width: 30px;
	}
	h1{
		display: inline-block;
		padding:10px 20px;
		border-bottom: 2px;
		
		color:#ccc;
		font-size: 1em;
		
	}
	.selected{
			color:$mainColor;
			border-bottom:solid $mainColor;
	}
	
}//tidebar


select{
		background: #fff;
		padding:5px;
		border: none;

		color:#ccc;
		font-size: 0.8em;
}


.toolBar{
	margin:20px 0;
	position: relative;
	.searchBar{
		display: inline-block;
		position: relative;
		width:440px;
		input{
			height: 40px;
			padding:0 60px 0 20px;
			width: 440px;
			box-sizing: border-box;
			border:none;
			&:focus,&:hover,&:focus + button,&:hover +button,{
				box-shadow: $shadow;
			}

		}
		.search{
			padding:0;
			position: absolute;
			top:0;
			right: 0;
			bottom:0;
			background: $mainColor;
			width: 40px;
			&:hover ~ input{
				box-shadow: $shadow;
			}
		}
	}
	
	img{
		width: 20px;
	}
	.action{
		position: absolute;
		right: 0;
		display: inline-block;
		button
		{
			margin:0 0px 0px 10px;
			height: 40px;
			padding:0 20px;
			text-align: center;
			border:$borderThin;
			background:#fff;
			color:#ccc;
		}
		.highline{
			background-color: $mainColor;
			border:$mainColor;
			color:#fff;
		}
	}
	
	


		
}
table{ //public css

	padding: 0 20px 0 20px;
	box-sizing: border-box;
	width: 100%;

	text-align: left;
	color: #ccc;
	
	
	.tableCheckBox
	{
		display: none;

		&:checked ~ div
		{
			background-color: $backgroundColor;
			border:#fff;
		}
		&:checked + label{
			background:url("../images/icon/checked.png");
			background-size: 14px;
			background-repeat: no-repeat;
			border: none;
		}
	}
	label{
		display:block;
		width: 14px;
		height: 14px;
		border:1px #cccc solid;
	}
	div{
		display: block;
		position:absolute;
		top:0;
		bottom:0;
		left: 0;
		right: 0;
		z-index: -1;
		border-radius: 5px;
	}


	tr{
		position:relative;
		display: block;
		padding:15px 0;
		width: 100%;

		border-bottom:1px;
		border-radius: 5px;
		&:first-child{
			&:hover{
				background-color: #fff;
			}
			border-bottom: 1px solid #eee;
		}
		&:hover{
			margin-right: -20px;
			background: $backgroundColor;
		}

	}
	th{
		font-weight:normal;
		font-size: 0.8em;

		color:#ccc;
		
	}
	button{
		background: #fff;
		padding: 5px;

		border-radius: 2px;
	}
	img{
		height: 1em;
	}

}

.icon{
	width: 16px;

}









.waitForLogging,.loggedData,.plan{//style for same childern
	
	th,td{
		&:first-child{
			padding:0 0 0 40px;
			width: 30px;
		}
		&:last-child{
			padding:0 40px 0 0;
		}
		&:nth-child(2){
			color:$mainColor;
			font-weight: bold;
			overflow: hidden;
			width: 200px;
		}
		&:nth-child(3){
			overflow: hidden;
			width: 200px;
			
		}
		
		
	 }
}
.plan,.loggedData{
	
	td,th{
		&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
			width :50px;
		}
		&:nth-child(8),&:nth-child(9){
			color:#ccc;
			text-align: right;
			width:80px;

		}
	}
}
.loggedData{
	td{
		&:last-child{
			text-align: center;
		}
		&:nth-child(8){
			width: 60px;
		}
	}
}

.waitForLogging{
	td,th{
		&:nth-child(3),&:nth-child(3){
			width :300px;
		}
		&:nth-child(4){
			width :100px;
		}
		&:nth-child(5){
			width: 100px;
			text-align: right;
		}
	}

}

.pages{
		position: relative;
		width:200px;
		margin:20px auto 0 auto;		
		color:#ccc;
		input{
			height: 40px;
			padding:0 60px 0 60px;
			width: 200px;
			box-sizing: border-box;
			border:none;
			text-align: center;
	
			&:focus,&:hover{
				box-shadow: $shadow;
				color:#333;
			}

		}
		button{
			padding:0;
			position: absolute;
			top:0;
			bottom:0;
			width: 40px;
			&:first-child{
				left: 0
			}
			&:last-child{
				right: 0;
			}
			&:hover{
				background-color: $mainColor;
				color:#fff;
			}
		}
	}