@import "_theme.scss";
body{
	font-family: "Microsoft Yahei";
	color: #333;
	letter-spacing: 0.05em;
}
button{
	background: none;
	border: none;
}
.backDrop{
	position:relative;
	max-width: 1280px;
	min-height: 780px;
	margin:40px auto;
	
	border-radius: 10px;
	box-shadow: 1px 1px 10px #ccc;
	background: $backgroundColor;
}
.list{
	width: 69.9%;
	display: inline-block;
}
.tabBar{
	padding:0px 20px 0 20px;
	position: relative;

	border-radius: 10px 0 0 0;
	background: $mainColor;
	color: #fff;

	h1{
		display: inline-block;
		margin:20px 5px -3px 5px;
		padding: 0 25px 15px 25px;
		border-bottom: 2px;

		font-size: 1em;
		
	}
	.selected{
			border-bottom:solid $darkenColor;
	}
	.search{
		position: absolute;
		top:15px;
		right: 20px;


		input{
			margin-top: -5px;
			border: none;
			width: 250px;
			padding: 5px 10px;
			background: $backgroundColor;
			color:#999;
			&:hover, &:focus{
				color:#333;
				background: #fff;
			}
		}
		button{
			background: #fff;
			padding: 5px 10px;
			&:hover{
				color: $mainColor;
			}
		}
	}
}//tidebar
.checkList{
		background: #fff;
		padding:10px;

		color:#ccc;
		font-size: 0.8em;
}
.toolBar{
	position: absolute;
	top:80px;
	right: 420px;
	.page{
		button{
			padding: none;
			width: 20px;
			border-radius: 5px;
			background: #fff;

		}
	}
	.option{
		button{
			margin:0 0px 10px 0;
			padding: 10px;
			border-radius: 5px;
		
			text-align: center;
			background: $mainColor;
			color:#fff;
		}
		}
}
table{ //public css

	padding:60px 20px 20px 20px;
	box-sizing: border-box;
	width: 100%;

	text-align: left;
	color: #333;
	tr{
		display: block;
		margin:15px 0;
		padding:10px 0;
		border-radius: 5px;
		width: 100%;

		background: #fff;
		border-bottom:1px;
		&:first-child{
			background: none;
			padding: 0;
			box-shadow:none;
		}

	}
	th{
		font-weight:normal;
		font-size: 0.8em;

		color:#ccc;
		
	}
	button{
		background: #fff;
		padding: 5px;

		border-radius: 2px;
	}

	#selected{
		//width:auto;
		//margin-right: -30px;

		background: $mainColor;
		color:#fff;
	}
	img{
		height: 1em;
	}

}

.icon{
	width: 16px;

}
.waitForLogging,.loggedData{//style for first child
	th{
		&:first-child{
			width: 50px;
		}
	}
	td{
		&:first-child{

			width:50px;
			box-sizing: border-box;
			padding:0 0 0 20px;


		}
		&:nth-child(2){
			// color:$mainColor;
			font-weight: bold;
		}
	}
	}
.waitForLogging//width
	{
	th,td{
		&:nth-child(2){
			width :200px;
		}
		&:nth-child(3){
			width :200px;
		}
		&:nth-child(4){
			width :150px;
		}
		&:nth-child(5){
			width :100px;
		}
		
	}
	
}
.loggedData,.plan{
	th,td{
		&:nth-child(2){
			width :200px;
		}
		&:nth-child(3){
			width :200px;
		}
		&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(7){
			width :40px;
		}
		&:nth-child(8){
			width :100px;
		}

	}
}
.plan{
	td,th{
			&:nth-child(8),&:nth-child(9),&:nth-child(10){
			width :60px;
		}
	}

}
.inputBox{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 30%;
	height: 780px;

	border-radius: 0 10px 10px 0;

	background: #fff;
	input{
		border: solid 1px  #ccc;
		background: $backgroundColor;
	}
	#Cword,#Ctranslation{
		width: 100%;
		box-sizing: border-box;
		padding: 10px;
		border: none;

		color:$mainColor;
		font-size: 1.5em;
	}
	#Esymbol,#Asymbol{
		border: none;
		width:80px;
		padding: 10px;

		background: #fff;
		color:#ccc;

	}
	.line{
		margin-top: 30px;
		position: relative;
		padding: 0  0 0 100px;
		#Ctype{
			position: absolute;
			top:10px;
			left:10px;
			width: 100px;
		}
	}
	.level{
		padding:20px 0 0 10px;
	}
	#Editing{
		width: 100%;
		box-sizing: border-box;
		padding:40px 20px;
	}
	textarea{
		margin:20px 0 0 0;
		padding: 10px;
		border: none;


		background: $backgroundColor;
		font-family: "Microsoft Yahei";
 		color:#333;
 		line-height: 1.5em;
 		letter-spacing: 0.05em;
	}
	.addSample,.addTranslation{
		margin-bottom:10px; 
		padding:20px 0;
		border-bottom: 1px solid #ccc;
	}
	.addTranslation{
		border: none;
	}
	.submit{
		width: 100%;
		box-sizing: border-box;
		padding:10px;
		border-radius: 5px;

		text-align: center; 
		background: $mainColor;
		color:#fff;
	}
}