/*
Error: Invalid CSS after ""Microsoft Yahei"": expected expression (e.g. 1px, bold), was ";"
        on line 2 of D:\wampserver\wamp64\www\good-learner\CSS\loggingData.css

1: body{
2: 	font-family: "Microsoft Yahei";
3: }
4: .backdrop{
5: 	max-width: 1280px;
6: 	min-height: 500px;
7: 	margin:10px 0;

Backtrace:
D:\wampserver\wamp64\www\good-learner\CSS\loggingData.css:2
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/scss/parser.rb:1308:in `expected'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/script/lexer.rb:240:in `expected!'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/script/parser.rb:897:in `assert_done'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/script/parser.rb:69:in `parse'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/script/parser.rb:228:in `parse'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/script.rb:27:in `parse'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:1169:in `parse_script'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:745:in `parse_property'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:707:in `parse_property_or_rule'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:666:in `parse_line'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:539:in `build_tree'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:558:in `block in append_children'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:557:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:557:in `append_children'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:548:in `block in build_tree'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:541:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:541:in `build_tree'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:558:in `block in append_children'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:557:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:557:in `append_children'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:417:in `_to_tree'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
D:/ruby/Ruby25-x64/bin/sass:23:in `load'
D:/ruby/Ruby25-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\"Microsoft Yahei\"\": expected expression (e.g. 1px, bold), was \";\"\A         on line 2 of D:\wampserver\wamp64\www\good-learner\CSS\loggingData.css\A \A 1: body{\A 2: 	font-family: \"Microsoft Yahei\";\A 3: }\A 4: .backdrop{\A 5: 	max-width: 1280px;\A 6: 	min-height: 500px;\A 7: 	margin:10px 0;"; }
