/*
Error: Invalid GBK character "\xE6"
        on line 4 of D:\wampserver\wamp64\www\good-learner\loggingData\waitForLogging.html

1: 	<!DOCTYPE html>
2: 	<html>
3: 	<head>
4: 		<title>整理单词</title>
5: 		<meta charset="utf-8">
6: 		<link rel="stylesheet" type="text/css" href="../CSS/loggingData.css">
7: 	</head>
8: 	<body>
9: 	<div class="backDrop">

Backtrace:
D:\wampserver\wamp64\www\good-learner\loggingData\waitForLogging.html:4
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:1090:in `rescue in block in find_encoding_error'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:1087:in `block in find_encoding_error'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:1086:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:1086:in `each_with_index'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:1086:in `find_encoding_error'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/util.rb:814:in `check_sass_encoding'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:444:in `check_encoding!'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:400:in `_to_tree'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/engine.rb:290:in `render'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:464:in `update_stylesheet'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `each'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:50:in `parse'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/lib/sass/exec/base.rb:18:in `parse!'
D:/ruby/Ruby25-x64/lib/ruby/gems/2.5.0/gems/sass-3.7.3/bin/sass:13:in `<top (required)>'
D:/ruby/Ruby25-x64/bin/sass:23:in `load'
D:/ruby/Ruby25-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE6\"\A         on line 4 of D:\wampserver\wamp64\www\good-learner\loggingData\waitForLogging.html\A \A 1: 	<!DOCTYPE html>\A 2: 	<html>\A 3: 	<head>\A 4: 		<title>整理单词</title>\A 5: 		<meta charset=\"utf-8\">\A 6: 		<link rel=\"stylesheet\" type=\"text/css\" href=\"../CSS/loggingData.css\">\A 7: 	</head>\A 8: 	<body>\A 9: 	<div class=\"backDrop\">"; }
